body {
  background-color: #f5f5f5; }

.menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  padding-top: 2px;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  background-color: #ffffff; }
  .menu .item {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: url(../images/short-line.png) no-repeat right 36px;
    background-size: 1px 24px;
    text-align: center; }
    .menu .item:last-child {
      background: none; }
    .menu .item > a {
      position: relative;
      display: inline-block;
      vertical-align: top;
      font-size: 30px;
      line-height: 50px;
      padding: 22px 0;
      text-align: center;
      border-bottom: 4px solid transparent;
      color: #666666; }
      .menu .item > a .point {
        position: absolute;
        top: 21px;
        right: -14px;
        width: 16px;
        height: 16px;
        background: #cc3636;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      .menu .item > a:hover, .menu .item > a.active {
        color: #bfa55d;
        border-color: #bfa55d; }

.order-wrap {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 100px;
  left: 0;
  overflow: hidden; }
  .order-wrap .item {
    position: relative;
    margin-top: 20px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s; }
    .order-wrap .item .box {
      position: relative;
      z-index: 20;
      background: #ffffff;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      transition: all 0.4s; }
      .order-wrap .item .box .row1, .order-wrap .item .box .row2 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
        background-color: #ffffff; }
        .order-wrap .item .box .row1 .time, .order-wrap .item .box .row2 .time {
          -webkit-flex: 1;
          -moz-flex: 1;
          -ms-flex: 1;
          flex: 1;
          font-size: 28px;
          line-height: 74px;
          padding-top: 6px;
          border-bottom: 1px solid #eeeeee;
          color: #666666; }
        .order-wrap .item .box .row1 .status, .order-wrap .item .box .row2 .status {
          position: relative;
          -webkit-flex: 1;
          -moz-flex: 1;
          -ms-flex: 1;
          flex: 1;
          font-size: 28px;
          line-height: 74px;
          padding-top: 6px;
          border-bottom: 1px solid #eeeeee;
          text-align: right; }
          .order-wrap .item .box .row1 .status .point, .order-wrap .item .box .row2 .status .point {
            position: absolute;
            top: 21px;
            right: -14px;
            width: 16px;
            height: 16px;
            background: #cc3636;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
      .order-wrap .item .box .row2 {
        margin-top: 0; }
        .order-wrap .item .box .row2 .time {
          -webkit-flex: 1;
          -moz-flex: 1;
          -ms-flex: 1;
          flex: 1;
          white-space: nowrap;
          border: none; }
          .order-wrap .item .box .row2 .time .name {
            display: inline-block;
            vertical-align: top;
            max-width: 230px;
            font-size: 36px;
            line-height: 106px;
            color: #333333;
            font-weight: 600;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .order-wrap .item .box .row2 .time .address {
            display: inline-block;
            vertical-align: top;
            font-size: 36px;
            line-height: 106px;
            color: #333333;
            font-weight: 600; }
        .order-wrap .item .box .row2 .price {
          -webkit-flex: 0 0 120px;
          -moz-flex: 0 0 120px;
          -ms-flex: 0 0 120px;
          flex: 0 0 120px;
          font-size: 36px;
          line-height: 106px;
          text-align: right;
          font-weight: 600;
          border: none; }
          .order-wrap .item .box .row2 .price .money-icon {
            font-size: 20px; }
    .order-wrap .item.order-status1 .box .row1 .status {
      color: #2e83eb; }
    .order-wrap .item.order-status1 .box .row2 .price {
      color: #cc3636; }
    .order-wrap .item.order-status2 .box .row1 .status {
      color: #14b41f; }
    .order-wrap .item.order-status2 .box .row2 .price {
      color: #cc3636; }
    .order-wrap .item.order-status3 .box .row1 .status {
      color: #666666; }
    .order-wrap .item.move-hook .box {
      -webkit-transform: translateX(-140px);
      -moz-transform: translateX(-140px);
      -ms-transform: translateX(-140px);
      transform: translateX(-140px); }
    .order-wrap .item .delete {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      width: 140px;
      font-size: 34px;
      line-height: 186px;
      color: #ffffff;
      text-align: center;
      background: #cc3636;
      z-index: 1; }

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  z-index: 10;
  padding-top: 14px;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee; }
  footer .menu-item {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    footer .menu-item:nth-child(1) {
      background: url(../images/menu-icon1.png) no-repeat center 0; }
    footer .menu-item:nth-child(2) {
      background: url(../images/menu-icon2.png) no-repeat center 0; }
    footer .menu-item:nth-child(3) {
      background: url(../images/menu-icon3.png) no-repeat center 0; }
    footer .menu-item:hover .txt {
      color: #bfa55d; }
    footer .menu-item:hover:nth-child(1) {
      background: url(../images/menu-hover-icon1.png) no-repeat center 0; }
    footer .menu-item:hover:nth-child(2) {
      background: url(../images/menu-hover-icon2.png) no-repeat center 0; }
    footer .menu-item:hover:nth-child(3) {
      background: url(../images/menu-hover-icon3.png) no-repeat center 0; }
    footer .menu-item > .icon {
      display: block;
      height: 41px;
      background-size: 41px 41px; }
    footer .menu-item > .txt {
      font-size: 24px;
      line-height: 40px;
      color: #000000;
      text-align: center; }

/*# sourceMappingURL=orderlist.css.map */
