.datepicker-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    display: none;
}
.datepicker-modal .datepicker-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #fff;
}
.datepicker-modal .datepicker-head {
    display: flex;
    justify-content: space-between;
    width: 92%;
    height: 39px;
    line-height: 39px;
    margin: 0 auto;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}
.datepicker-head .datepicker-cancel {
    color: #666;
}
.datepicker-head .datepicker-true {
    color: #bfa55d;
}
.datepicker-body {
    position: relative;
    width: 92%;
    height: 261px;
    margin: 0 auto;
}
.datepicker-body {
    display: flex;
}
.datepicker-body .datepicker-date {
    flex: 1;
}
.datepicker-body .datepicker-hour {
    flex: 1;
}

.datepicker-date-container,
.datepicker-hour-container{
    width: 100%;
    height: 100%;
}
.datepicker-date-container .swiper-slide,
.datepicker-hour-container .swiper-slide {
    text-align: center;
    background: #fff;
    color:#999;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 16px;
    opacity: 1;
    color: #666;
}
.datepicker-container .swiper-slide-active {
    color: #000;
    font-size: 20px;
}
.datepicker-container .swiper-slide-prev {
    /*color: #666;*/
    /*font-size: 36px;*/
}
.datepicker-container .swiper-slide-next {
    /*color: #666;*/
    /*font-size: 36px;*/
}
.active-line {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    margin-top: -25px;
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 9;
}